@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{background-color: #30BCED;
font-family: Roboto;}


.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #004AAD;
    display:flex;
    flex-direction: column;
  }
  
  .navbar a {
    padding:10px;
    color: white;
    text-decoration: none;
    
  }
  
  
  

  .logo img{
    width:100px;
    height:100px;
  }

  .logo{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    
  }

  .logo p{
    margin-left: 10px;
    font-size:20px;
    font-weight: 600;
    color:white;
    height:100px;

  }
.caixa-nav{
   display:flex;
   align-items: center;
   padding: 5px;;
  
}

.caixa-nav img{
    width:22px;
    height: 22px;
    color:white;
    margin:5px;
}
  a:after {
    display:block;
    content: '';
    border-bottom: solid 3px #ffffff;  
    transform: scaleX(0);  
    transition: transform 300ms ease-in-out;
  }
  a:hover:after { transform: scaleX(1); }
  a.fromLeft:after{  transform-origin:  0% 50%; }